body {
    background-image: url("../images/spiration-light.png");
    background-color: #cccccc;
}

/* Custom Navbar Styles */
.navbar-custom{
    background-color:  #002244;
}

.bg-custom{
    background-color:  #002244!important;
}

.navbar-custom .navbar-brand {
    color: #FFFFFF;
    padding: 1rem 1rem;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
    padding: 1rem 1rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #002244;
    border-bottom: 2px solid #002244;
    background-color: #FA4616; /* add background-color to active links */
}.navbar-custom {
    background-color: #FA4616;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,70,22)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #FFFFFF;
  } 

/* Main Section Styles */

.profile-img-full{
    float:left;
    width: 350px;
    padding-right: 10px;
}

.profile-img-mobile{
    width: 250px;
    border-radius: 50%;
    display: none;
}
  .push {
    height: 50px;
  }

#footer-text{
    font-size: 2em;
    color: #002244;
}

.footer-link, .footer-link:visited{
    color: #002244; 
}

.footer-link:hover {
    color: #FA4616; 
}

.footer-border{
    border-top: 2px solid #002244;
}


@media screen and (max-width: 576px) {
    .main-header{
        text-align: center;
    }
    .profile-img-full{
        display: none;
    }
    .profile-img-mobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px;
    }

    .profile-text {
        text-align: justify;
    }
  }